<header class="header-6">
  <div class="branding">
    <a [routerLink]="['']" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Sample Project</span>
    </a>
  </div>
  <div class="header-nav">
    <a [routerLink]="['customers']" routerLinkActive="active" class="nav-link"><span
            class="nav-text">Customers</span></a>
    <a [routerLink]="['orders']" routerLinkActive="active" class="nav-link"><span class="nav-text">Orders</span></a>
  </div>
</header>